
html, body {
  height: 100%;
  width: 100%;
}
body {
  padding: 2rem;
}

#root {
  padding: 35px;
  background: azure;
}

.card {
  background: inherit;
}

.Container {
  border-radius: 5px;
}

.EditLocationCard{
  padding: 15px;
}
#FloorMap {
  border: 5px solid azure;
  border-radius: 25px;
  max-width: 750px;
}
#Staff.cardImg{
  visibility: hidden;
  transition: all 0.5s;
  max-width: 75px;
  position: relative;
  border: 5px solid lightcyan;
  border-radius: 15px;
}

#Staff.cardImg:hover {
  max-width: 200px;
}

#EditPen.cardImg{
  visibility: hidden;
  transition: all 0.5s;
  max-width: 20px;
  position: relative;
  border: 2px solid dimgray;
  border-radius: 15px;
  background-color: floralwhite;
}

#EditPen.cardImg:hover {
  max-width: 30px;
}

#Unassigned.cardImg{
  visibility: visible;
  transition: all 0.5s;
  max-width: 150px;
  position: relative;
  border: 5px solid lightcyan;
  border-radius: 15px;
}

#UnassignedPen.cardImg{
  visibility: visible;
  transition: all 0.5s;
  max-width: 20px;
  position: relative;
  border: 2px solid dimgray;
  border-radius: 15px;
  background-color: floralwhite;
}

.dropdown.open{
  z-index: 1075 !important;
}
