
html, body {
  height: 100%;
  width: 100%;
}
body {
  padding: 2rem;
}

#root {
  padding: 35px;
  background: azure;
}

.card{
  background: inherit;
}

.AddRoomBox {
  padding: 35px;
}

.FloorMap {
  visibility: hidden;
  border: 5px solid #e2ecff;
  border-radius: 5px;
  max-width: 750px;
}

#FloorMapPreview {
  max-width: 200px;
  max-height: 200px;
}

.Dropzone{
  max-width: 200px;
  max-height: 200px;
}