
html, body {
  height: 100%;
  width: 100%;
}
body {
  padding: 2rem;
}

.AddRoomBox {
  padding: 35px;
  background: #e2ecff;
}

.FloorMap {
  visibility: hidden;
  border: 5px solid #e2ecff;
  border-radius: 5px;
}

#FloorMapPreview {
  max-width: 200px;
}